body {
    margin: 0;
    padding: 0;
    color: white;
    background-color: #121212;
    font-size: 14px;
    font-family: Inter,sans-serif;
    font-weight: normal;
}

/* TYPOGRAPHY */

h1 {
    font-size: 3rem;
    margin: 0;
    font-weight:bolder;
}
h2 {
    font-size: 1.438rem;
    font-weight: 500;
}

span {
    font-size: 0.857rem;
}
.title-info {
    display: flex;
    align-items: center;
}

header {
    background-image:  url(header.png);
    background-size: cover;
    padding: 6em 3em;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: white;
    margin: 0;
    font-size: 1rem;
}

.search-container input,
p {
    color: #A5A5A5;
}


.hd-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.search-container {
    display: flex;
    width: 85vw;
    position: absolute;
    top: 14.4em;
    margin:0 auto ;
}

.search-container input {
    width: 75%;
    overflow: auto;
    background-color: #2e2e2f;
    border-radius: 5px 0 0 5px;
    border: none;
    font-size: 1rem;
    padding-left: 40px;
    outline: none;
}
.search-container button {
    width: 25%;
    margin: 0;
    color: white;
    background-color: #4b4b4b;
    border-radius: 0 5px 5px 0;
    border: none;
    padding: 1em;
    font-size: 1rem;
}
.search-container svg {
    height: 20px;
    position: relative;
    top:0.7em;
    right: -3em;
}


.poster {
    height: 150px;
    width: calc(150px/3*2);
}

#movie-list,#watchlist {
    /* padding: 6em 3em; */
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie {
    display: flex;
    border-bottom: 1px solid #626870;
    gap: 1.5em;
    padding: 1em;
    align-items: center;
    width: 90%;
}
